# Development
# VITE_API_URL=http://localhost:5000/api
# VITE_SOCKET_URL=http://localhost:5000

# Production (Render/Vercel)
VITE_API_URL=https://real-time-expert-session-booking-system-mlsz.onrender.com/api
VITE_SOCKET_URL=https://real-time-expert-session-booking-system-mlsz.onrender.com
