node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
**/*.jks
**/*.p8
**/*.p12
**/*.key
**/*.provisionprofile
**/*.mobileprovision
**/*.orig.*
web-build/
.env
.env.local
.env.*.local
*.pem
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
coverage/
.nyc_output/
build/
.next/
out/
